name: Deploy test-app App
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build  
    if: success()

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy BLUE container
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            export DOCKER_REPO=${{ secrets.DOCKERHUB_USERNAME }}
            export GITHUB_SHA=${{ github.sha }}
            bash /opt/deploy/deploy_blue.sh


